<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>City</title>
</head>
<body>
<h3>Cities list</h3>
<a href="/city/create">Create city</a>
<p th:if="${message}" th:text="${message}"></p>
<table border="1px">
    <tr>
        <td>Name</td>
        <td>Country</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="city : ${cities}">
        <tr>
            <td><a th:text="${city.name}" th:href="@{/city/view/__${city.getId()}__}"></a></td>
            <td th:text="${city.country.name}"></td>
            <td><a th:href="@{/city/edit/__${city.getId()}__}">Edit</a></td>
            <td><a th:href="@{/city/delete/__${city.getId()}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>